{% extends 'layout.html' %}
{%block body%}
<header class="masthead" style="background-image: url('{{ url_for('static', filename='img/article.jpg') }}')">
        <div class="overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
              <div class="page-heading">
                <h1>Articles</h1>
                <span class="subheading">This is what I do.</span>
              </div>
            </div>
          </div>
        </div>
      </header>
     <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <ul class="list-group">
              <h1>Some important article:</h1>
              <small>Must read</small>
              
                {% for article in articles %}
                  <li class="list-group-item"><a href="article/{{article.id}}">{{article.title}}</a></li>
                {% endfor %}
             
</div>
</div>
</div>
 
{% endblock %}