
{% extends 'layout.html' %}
{%block body%}
<header class="masthead" style="background-image: url('{{ url_for('static', filename='img/about-bg.jpg') }}')">
        <div class="overlay"></div>
        <div class="container">
          <div class="row">
            <!-- <div class="col-lg-8 col-md-10 mx-auto"> -->
              <div class="page-heading">
                    <h1>Dashboard<small> welcome {{session.username}} </small></h1>
              </div>
            </div>
          </div>
        </div>
      </header>
     <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
<div="container">

<a class="btn btn-success" href="/addacademic_syallabus">Add syallabus</a>
<hr>
<body>
    <table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>university_name</th>
        <th>year</th>
        <th>courses</th>
        <th>sysllabus</th>
       
    </tr>
    {% for academicsyallabus in academicssyallabus %}
    <tr>
        <td>{{academicsyallabus.id}}</td>
        <td>{{academicsyallabus.universityname}}</td>
        <td>{{academicsyallabus.year}}</td>
        <td>{{academicsyallabus.courses}}</td>
        <td>{{academicsyallabus.syallabus}}</td>
        <td>{{academicsyallabus.create_date}}</td>
        <td><a href="edit_ACsyallabus/{{academicsyallabus.id}}", class="btn btn-default pull-right">Edit</a>
        <td>    
            <form action="{{url_for('delete_ACsyallabus', id=academicsyallabus.id)}}" methods="post">
            <input type="hidden"  name="_method" value="DELETE">
            <input type="submit" class="btn btn-danger" value="delete"> 
        </form> 
    </tr> 
    {% endfor %}   
    </table>
    </body>
    {% endblock %}