<html>
    <body>
            <h1>CAT:</h1>
            
                <p>Before 2009, CAT was a paper based test conducted on a single day for all candidates. The pattern, number of questions and duration have seen considerable variations over the years.

                On 1 May 2009, it was announced that CAT would be a Computer Based Test starting from 2009. The American firm Prometric was entrusted with the responsibility of conducting the test from 2009 to 2013.[6] The first computer based CAT was marred with technical snags.[7] The issue was so serious that it prompted the Government of India to seek a report from the convenor.[8] The trouble was diagnosed as 'Conficker' and 'W32 Nimda', the two viruses that attacked the system display of the test, causing server slow down.[9] Since 2014 onward, CAT has been conducted by Tata Consultancy Services (TCS). CAT 2015 and CAT 2016 were 180-minute tests consisting of 100 questions (34 from Quantitative Ability (QA), 34 from Verbal Ability and Reading Comprehension (VARC), and 32 from Data Interpretation and Logical Reasoning (DILR)).</h3></p>
              
            <h2>Exam Format:</h2>
                    <p>The Common Admission Test (CAT), like virtually all large-scale exams, utilises multiple forms, or versions, of the test. Hence there are two types of scores involved: a raw score and a scaled score.

                    The raw score is calculated for each section based on the number of questions one answered correctly, incorrectly, or left unattempted. Candidates are given +3 points for each correct answer and -1 point for each incorrect answer. No points are given for questions that are not answered. The raw scores are then adjusted through a process called equating. Equated raw scores are then placed on a common scale or metric to ensure appropriate interpretation of the scores. This process is called scaling. </p>
            <h2>Test pattern and duration:</h2> 
            <p>CAT Exam Pattern is unpredictable and it changes every year. Since last two years, the structure of the test has undergone a few changes. As per the notification released by IIM Lucknow, there is no such change introduced in CAT 2017 Exam Pattern. CAT is a computer-based test which consists of 100 objective type questions. There are 3 sections in the test: </p>
                        <ul>
                            <li>Verbal and Reading Comprehension (VARC)</li>
                            <li>Data Interpretation & Logical Reasoning (DI & LR)</li>
                            <li>Quantitative Ability (QA)</li>
                        </ul>

                        <p>The Quantitative Ability and Verbal & Reading Comprehension sections consisted 34 questions each, whereas the Data Interpretation & Logical Reasoning section had 32 questions. This distribution of questions was same for CAT 2015 and CAT 2016. Before this, the distribution of questions was different. In CAT 2017, it is expected that a number of questions in each section may vary as compared to the previous year.

                                For CAT 2017, IIM Lucknow has released some points related to CAT Exam Pattern such as- </p>
        
                        <ul>
                            <li>A few questions in each section of CAT may be of non-MCQs type questions (TITA- Type In The Answer).</li>
                            <li>Exactly 60 minutes will be allotted for answering each section.)</li>
                            <li>Each question carries 3 marks and there is negative marking of 1 mark for each wrong answer</li>
                            <li>No negative marking for non-MCQ type questions.</li>
                            <li>A virtual calculator (on-screen calculator) will be available throughout for the purpose of calculation.</li>
                        </ul>
                        <p>The test takers cannot switch between the sections and have to attend the test in a particular order. The order of the sections is same for all the applicants- </p>
                        <ul>
                            <li>VARC</li>
                            <li>DI & LR, and</li>
                            <li>QA</li>
                        </ul>
                        <p>Four scaled scores will be presented for each candidate: an overall scaled score and three separate scaled scores for each section. As the three sections evaluate distinct sets of knowledge and skills, scores do not correlate across sections. A high score in one section does not guarantee a high score in another section. Percentile rankings are provided for each individual section as well as for the overall exam score. </p>
            
                        
    
    
    </body>    
</html>
