{% extends 'layout.html' %}
{% block body %}
    <h1>CAT Exam Eligibility:</h1>
    <p>To be able to get eligible for CAT, candidates to fulfil the following criterion:</p>
    <ul>
        <li>Should Hold a Bachelor’s Degree and have secured a minimum of 50% marks or equivalent CGPA. The students belonging to any of the reserved categories like Scheduled Tribe (ST), Scheduled Caste (SC), and Persons with Disability (PWD) or Differently Abled (DA) category must have at least 45% marks.</li>
        <li>The degree has to be awarded by any of the Universities included by an act of the central or a state legislature in India, or any other educational institutions established by an act of Parliament or are declared to be deemed as a University under Section 3 of the UGC Act, 1956, or hold an equivalent qualification recognized by the MHRD, India.</li>
        <li>Applicants who are appearing for the final year of their bachelor’s degree and the candidates who have completed their graduation degree requirements and are awaiting results are also eligible to apply. If selected, candidates will be allowed to join the program provisionally, only if he/ she submits a certificate from the Principal/Registrar of her/his College/Institute (issued on or before June 30, 2019) mentioning that the particular candidate has completed all the requirements for obtaining the bachelor’s degree/equivalent qualification on the date when the certificate was issued.</li>
    </ul>
    
    
    
    
{% endblock %}