{% extends 'layout.html' %}
{% block body %}
    <h1>CMAT Exam Eligibility:</h1>
    <p>CMAT 2019 has a few basic eligibility criteria that candidates must meet before beginning the registration procedure. Below are the CMAT 2019 eligibility criteria-</p>
    <ul>
        <li>He/She must be a citizen of India</li>
        <li>Final year students of Bachelor's programmes are also eligible to apply</li>
        <li>Candidates must obtain a bachelor's degree of a minimum three-year duration from any discipline</li>
        <li>Age Limitation- There is no age bar for applying for CMAT entrance exam.</li>
    </ul>
    <p>Candidates will be eligible for MBA and PGDM programmes only after meeting the minimum requirements of each mentioned programme. Prospective test takers can check the CMAT 2019 eligibility criteria for the programmes below- </p>
    <table style="width:100%">
        <tr>
           
            <th>Programe</th>
            <th>Eligibility</th>
            <th>Duration</th>
        </tr>
        <hr>
        <tr>
            <td>MBA & PGDM</td>
            <td>Minimum three years duration Bachelor's degree with 50 per cent score for General/OBC category and 45 per cent for SC/ST applicants</td>
            <td>Two years</td>
           

        </tr>  
        <tr>
            <td>Executive PGDM</td>
            <hr>
            <td>Minimum three-year duration Bachelor's degree with minimum 5 years of work experience.

                - Candidate must obtain at least 50 per cent (General/ OBC) and 45 per cent (SC/ST category)</td>
            <td>15 months</td>
           

        </tr>  
        <tr>
            <td>MBA & PGDM</td>
            <td>Minimum three years duration Bachelor's degree with 50 per cent score for General/OBC category and 45 per cent for SC/ST applicantstd>
            <td>Two years</td>
           

        </tr>  
        </table>
    
    
    
    
{% endblock %}