
{% block body %}
    <h1>CMAT</h1>
    <p>By 2011, there were a number of entrance exams for management programmes in India. These included CAT, JMET, XAT, Gitam SAT, NMAT, SNAP, MAT, state-specific exams, exams conducted by management associations of MBA institutes and exams conducted by private colleges. AICTE launched CMAT to reduce the burden (physical, mental and financial stress) of students in attending to multiple examinations.

            Till 2015, CMAT was held twice in a year but last year the practice was abolished as AICTE decided to hold the exam once a year on the third Sunday of January.
            
            Some of leading Business Schools have decided to keep out from CMAT, the reason given was "late announcement" by AICTE. But still quite a number of colleges accept their score.[3] </p>
    <h1>Exam Format:</h1>
    <p>CMAT is a three-hour test. In 2012, it was conducted in a period of nine days (20–28 February) in two shifts at 61 locations in all over India.

            The better of two scores will be used for admission for 2014-15
            
            The question paper comprises four sections: </p>
            <ul>
                <li>Quantitative technique</li>
                <li>Logical reasoning</li>
                <li>Language comprehension</li>
                <li>General Awareness</li>
                <p>There are 25 questions in each section. While each correct answer carries four marks, each wrong answer will carry one negative marking.

                        AICTE has now decided to conduct CMAT in Foreign Countries for facilitating eligible NRIs/PIOs and foreign nationals to appear in CMAT for seeking admission in institutions in India following CMAT merit list for 2014-15 under special provisions defined in AICTE Approval Process and against all vacancies left after completion of centralized admission in management institutions. </p>
            </ul>
{% endblock %}