{% extends 'layout.html' %}
{%block body%}
<header class="masthead" style="background-image: url('{{ url_for('static', filename='img/article.jpg') }}')">
        <div class="overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
              <div class="page-heading">
                <h1>Competitive syallabus:</h1>
                <span class="subheading">here syallabus are present</span>
              </div>
            </div>
          </div>
        </div>
      </header>
     <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <ul class="list-group">
              <h1>courses:</h1>
             
              
                {% for competitivesyallabus in competitivessyallabus %}
                  <li class="list-group-item"><a href="competitivesyallabus/{{competitivesyallabus.id}}">{{competitivesyallabus.courses}}</a></li>
                {% endfor %}
             
</div>
</div>
</div>
 
{% endblock %}