{% extends 'layout.html' %}
{%block body%}
<header class="masthead" style="background-image: url('{{ url_for('static', filename='img/article.jpg') }}')">
        <div class="overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
           
              </div>
            </div>
          </div>
        </div>
      </header>
     <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
               
       
         



  
  <div>
    {{competitivesyallabus.syllabus | safe}}
  </div>
  
{% endblock %}