{% extends 'layout.html' %}
{%block body%}
<header class="masthead" style="background-image: url('{{ url_for('static', filename='img/article.jpg') }}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Dashboard:</h1>
            <span class="subheading">for the image:</span>
          </div>
        </div>
      </div>
    </div>
  </header>
 <div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
    <h1>dashboard</h1>
<a class="btn btn-success" href="/addimage">Addimage</a>
<hr>
<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>name</th>
       
        
        <th></th>
        <th></th>
    </tr>
    {% for image_name in image_names %} 
    <tr>
        
        
            <td>{{i}}</td>
        <td>{{image_name}}</td>
    
        <td>    
            <form action="{{url_for('download_file', filename=image_name)}}" >
            <input type="hidden"   value="Download">
            <input type="submit" class="btn btn-success" value="download"> 
        </form> 
        </td>
        <td>    
            <form action="{{url_for('delete_file', filename=image_name)}}" >
            <input type="hidden"   value="Delete">
            <input type="submit" class="btn btn-danger" value="delete"> 
        </form> 
        </td>
    </tr>
    {% endfor %}   

{% endblock %}

  
