{% extends 'layout.html' %}

{% block body %}
  <h1>Courses:</h1>
  <body>
  <p><h3>Listed below are some of the competitive exams that a student can take after graduation:<h3></p>
    <p><h5>For management courses, following are some of the competitive entrance  exams a graduate can appear for:</h5></p> 
  <ul>
      <li><a href="/cat">Common Admission Test (CAT)</a></li>
      <li><a href="/cmat">Common Management Admission Test(CMAT)</a></li>
      <li><a href="/xat">Xavier Aptitude Test (XAT):</a></li>
      <li><a href="/iift">The Indian Institute of Foreign Trade (IIFT)</a></li>
      <li><a href="/snap">Symbiosis National Aptitude (SNAP)</a></li>
      <li><a href="/nmat">NMAT</a></li>
      <li><a href="/mat">Management Aptitude Test (MAT)</a></li>
      <li><a href="/mh-cet">Maharashtra Common Entrance Test (MH-CET)</a></li>
      <li><a href="/ibsat">IBSAT</a></li>
  </ul>

  <p><h3>For Education in Foreign Universities:</h3></p>
  <ul>
        <li><a href="/gmat">Graduate Management Admission Test (GMAT)</a></li>
        <li><a href="/gre">Graduate Record Examinations (GRE)</a></li>
        
  </ul>

  <p><h3>For MTech and ME</h3></p>
   <ul>
        <li><a href="/gate">Graduate Aptitude Test in Engineering (GATE)</a></li>
        <li><a href="/jam">Joint Admission Test for M.Sc. (JAM)</a></li>

   </ul>

   <p><h3>For Government Jobs</h3></p>
   <ul>
        <li><a href="/cse">Civil Services Examination (CSE)</a></li>
        <li><a href="/ies">Indian Economic Service Examination (IES)</a></li>
        <li><a href="/iss">ndian Statistical Service Examination (ISS)</a></li>

   </ul>

   <p><h3>Academics:</h3></p>
   <ul>
        <li><a href="/edcet">B.Ed. Common Entrance Test (EdCET)</a></li>
        <li><a href="/icar">Indian Council of Agriculture Research (ICAR)</a></li>
        

   </ul>

   <p><h3>For Banking Jobs</h3></p>
   <ul>
        <li><a href="/po">SBI PO Exams</a></li>
        <li><a href="/management">IBPS PO/Management Trainee Exams</a></li>
        <li><a href="/ibps">IBPS Clerk Exams</a></li>
        <li><a href="/nabard">National Bank for Agriculture & Rural Development (NABARD)</a></li>
        <li><a href="/rbi">RBI Grade A and Grade B Exams</a></li>
        
   </ul>

   <p><h3>For Insurance Jobs</h3></p>
   <ul>
        <li><a href="/lic">L.I.C/ G.I.C Competitive Exams:</a></li>
   </ul>

   <p><h3>Others</h3></p>
   <ul>
        <li><a href="/ssc">SSC Combined Graduate Level Exams</a></li>
        <li><a href="/railway">Railway jobs test</a></li>
   </ul>
</body> 
{% endblock %}