{% extends 'layout.html' %}

{% block body %}
  <h1>Criteria:-</h1>
          <body>
              <li><a href="/cat">Common Admission Test (CAT)</a></li>
              <li><a href="/cmat">Common Management Admission Test(CMAT)</a></li>
              <li><a href="/xat">Xavier Aptitude Test (XAT):</a></li>
              <li><a href="/iift">The Indian Institute of Foreign Trade (IIFT)</a></li>
              <li><a href="/snap">Symbiosis National Aptitude (SNAP)</a></li>
              <li><a href="/nmat">NMAT</a></li>
              <li><a href="/mat">Management Aptitude Test (MAT)</a></li>
              <li><a href="/mh-cet">Maharashtra Common Entrance Test (MH-CET)</a></li>
              <li><a href="/ibsat">IBSAT</a></li>
    
                <li><a href="/gmat">Graduate Management Admission Test (GMAT)</a></li>
                <li><a href="/gre">Graduate Record Examinations (GRE)</a></li>
                
          
                <li><a href="/gate">Graduate Aptitude Test in Engineering (GATE)</a></li>
                <li><a href="/jam">Joint Admission Test for M.Sc. (JAM)</a></li>
                <li><a href="/cse">Civil Services Examination (CSE)</a></li>
                <li><a href="/ies">Indian Economic Service Examination (IES)</a></li>
                <li><a href="/iss">ndian Statistical Service Examination (ISS)</a></li>
        
                <li><a href="/edcet">B.Ed. Common Entrance Test (EdCET)</a></li>
                <li><a href="/icar">Indian Council of Agriculture Research (ICAR)</a></li>
                
        
           
                <li><a href="/po">SBI PO Exams</a></li>
                <li><a href="/management">IBPS PO/Management Trainee Exams</a></li>
                <li><a href="/ibps">IBPS Clerk Exams</a></li>
                <li><a href="/nabard">National Bank for Agriculture & Rural Development (NABARD)</a></li>
                <li><a href="/rbi">RBI Grade A and Grade B Exams</a></li>
        
                <li><a href="/lic">L.I.C/ G.I.C Competitive Exams:</a></li>
           
                <li><a href="/ssc">SSC Combined Graduate Level Exams</a></li>
                <li><a href="/railway">Railway jobs test</a></li>
           
        
</body>  
{% endblock %} 