{% extends 'layout.html' %}
{%block body%}
<header class="masthead" style="background-image: url('{{ url_for('static', filename='img/examdates.jpg') }}')">
        <div class="overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
              <div class="page-heading">
                <h1>Examdates</h1>
                <span class="subheading">This is what I do.</span>
              </div>
            </div>
          </div>
        </div>
      </header>
     <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
  <table style="width:100%">
 <tr>
     <th>courses</th>
     <th>Date of Exams</th>
 </tr>
    <tr>
        <td>Common Admission Test (CAT)</td>
        <td>dates:</td>
    </tr>  
    <tr>
            <td>Common Management Admission Test(CMAT)</td>
            <td>dates:</td>
    </tr>
    <tr>
            <td>Xavier Aptitude Test (XAT)</td>
            <td>dates:</td>
    </tr>  
    <tr>
            <td>The Indian Institute of Foreign Trade (IIFT)</td>
            <td>dates:</td>
    </tr>
    <tr>
            <td>Symbiosis National Aptitude (SNAP)</td>
            <td>dates:</td>
    </tr>
    <tr>
            <td>NMAT</td>
            <td>dates:</td>
    </tr>
    <tr>
            <td>Management Aptitude Test (MAT)</td>
            <td>dates:</td>
    </tr>
    <tr>
            <td>Maharashtra Common Entrance Test (MH-CET)</td>
            <td>dates:</td>
    </tr>
    <tr>
            <td>IBSAT</td>
            <td>dates:</td>
    </tr>
    <tr>
            <td>Graduate Management Admission Test (GMAT)</td>
            <td>dates:</td>
    </tr>
    <tr>
            <td>Record Examinations (GRE)</td>
            <td>dates:</td>
    </tr>
    <tr>
            <td>Graduate Aptitude Test in Engineering (GATE)</td>
            <td>dates:</td>
    </tr>
    <tr>
            <td>Admission Test for M.Sc. (JAM)</td>
            <td>dates:</td>
    </tr>
    <tr>
            <td>Services Examination (CSE)</td>
            <td>dates:</td>
    </tr>
    <tr>
            <td>Economic Service Examination (IES)</td>
            <td>dates:</td>
    </tr>
    <tr>
            <td>Statistical Service Examination (ISS)</td>
            <td>dates:</td>
    </tr>
    <tr>
            <td>B.Ed. Common Entrance Test (EdCET)</td>
            <td>dates:</td>
    </tr>
    <tr>
            <td>Indian Council of Agriculture Research (ICAR)</td>
            <td>dates:</td>
    </tr>  
    <tr>
            <td>PO Exams</td>
            <td>dates:</td>
    </tr>  
    <tr>
            <td>IBPS PO/Management Trainee Exams</td>
            <td>dates:</td>
    </tr>  
    <tr>
            <td>IBPS Clerk Exams</td>
            <td>dates:</td>
    </tr>  
    <tr>
            <td>National Bank for Agriculture & Rural Development (NABARD)</td>
            <td>dates:</td>
    </tr>  
    <tr>
            <td>Grade A and Grade B Exams</td>
            <td>dates:</td>
    </tr>  
    <tr>
            <td>I.C/ G.I.C Competitive Exams</td>
            <td>dates:</td>
    </tr>        
    <tr>
            <td>Combined Graduate Level Exams</td>
            <td>dates:</td>
    </tr>  
    <tr>
            <td>Railway jobs test</td>
            <td>dates:</td>
    </tr>  
   


 
   
</table>
          

      

          
{% endblock %}

