{% extends 'layout.html' %}
{%block body%}
<div class="jumbotron text-center">
        <h1>Welcome To FlaskApp</h1>
        <p>India’s higher education system is recognised as the second largest in the world today. There are more than 550 universities and almost 16,000 additional colleges offering graduation courses in various subjects and academic disciplines. Getting a graduation degree is part of a student’s basic education. It forms a strong base for deciding the future course of studies and future career prospects. There are many competitive exams that are conducted in India, either to get admission for further studies or to get into a job directly. A graduation degree opens the gateway for many competitive exams and qualifying these exams prove to be the milestone for future careers.Scope of the website is is :Criteria,syallabus ad exam dates and also  Previous year question papers.It depends on what kind of exams are you talking about. There are competition exams held for different fields in our country.</p>            </p>
    {% if session.logged_in == NULL %}
    <a href="/register" class="btn btn-primary btn-lg">Register</a>
    <a href="/login" class="btn btn-success btn-lg">Login</a>

    {% endif %}
{%endblock%}