{% block body %}
    <h1>IBSAT</h1>
    <p>s an important online computer based MBA entrance test conducted across India by ICFAI Foundation for Higher Education (a deemed to be University). IBSAT 2017 is the gateway to MBA/PGPM 2018-20 at 9 campuses of ICFAI Business School (IBS). The exam will be conducted in the month of December 2017 in a 4 day test window from December 21-24, 2017. It will be a 2 hour computer based test.

            Those who wish to pursue MBA/PGPM/PhD program from IBS B-schools have to appear for IBSAT2017 Test scheduled in the month of December 2017. IBSAT 2017 application form is available till December 12 at the link www.ibsindia.org/ibsat2017. Alternatively, you can also apply with scores from 2015 onwards of CAT/GMAT/ NMAT by GMAC™.
            1.9k Views · View 2 Upvoters</p>
    <h1>Exam Format:</h1>
    <ul>
        <li>Testing Mode of IBSAT 2018: Online Computer Based Test</li>
        <li>IBSAT 2018 Testing Window: Exam will be conducted in a testing window of 2 days on December 22 and 23, 2018.</li>
        <li>IBSAT 2018 Test Duration: The exam will be of 2 hours duration</li>
        <li>IBSAT 2018 Test Sections: The exam will be divided into 4 Sections</li>
        <li>Total Questions: 140</li>
        <li>Type of Questions: Multiple Choice Questions (MCQs)</li>
        <li>Difficulty Level: Easy to Moderate</li>
        <li>Sectional Time Limit: No Sectional Time Limit. You can switch from one section to other within overall time limit of 2 hours</li>
        <li>Scoring Pattern: +1 Mark for each correct answer</li>
        <li>Negative Marking: No Negative marking is there in IBSAT  </li>
        <li>Sectional Composition of IBSAT: The exam is divided into four sections  - Verbal Ability, Reading Comprehension, Quantitative Ability and Data Adequacy & Data Interpretation. Sectionwise split of questions is as under:  </li>
    </ul>
   
    
    
    
    
{% endblock %}