{% extends 'layout.html' %}
{% block body %}
<header class="masthead" style="background-image: url('{{ url_for('static', filename='img/about-bg.jpg') }}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>IIFT</h1>
            <span class="subheading">Here we are support for all student:</span>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
    <h1>IIFT</h1>
    <p>IIFT Exam Pattern 2019 - IIFT 2019 was conducted on December 2, 2018 (10 Am to 12 noon). Indian Institute of Foreign Trade (IIFT), Delhi, prescribes the exam pattern of IIFT 2019. Going by the question paper, the IIFT 2019 exam pattern underwent a few changes. As per IIFT exam pattern 2019, the test was divided into six sections - Data Interpretation, Logical Reasoning, General Awareness, Verbal Ability, Reading Comprehension, and Quantitative Aptitude. The duration of the test was be two hours and the marking scheme for each section would be different.

            Candidates who appeared for the exam were advised to know the exam pattern of IIFT 2019 to prepare in a more strategised manner. IIFT exam is conducted every year for admission to IIFT’s MBA in IB program at Delhi and Kolkata campus. In this article, candidates can check all the details related to the IIFT 2019 exam pattern, marking scheme and syllabus. </p>
    <h1>Exam Format:</h1> 
    <p>IIFT 2019 is an objective type exam of 2 hours duration. The question paper consists of 125 MCQs. There is no separate time allotted to candidates for each section. The exam syllabus comprises of 4 sections that include:</p>
    <ul>
        <li>General Knowledge and Awareness</li>
        <li>English Comprehension</li>
        <li>Quantitative Analysis</li>
        <li>Logical Reasoning</li>
    </ul>
    <h1> Important Instructions:</h1>
    <p>In order to score well in the exam, candidates need to be fast and accurate while answering questions. Therefore, candidates need to be clear about concepts and should have enough practice to excel in the exam.</p>
    <ul>
        <li>Allot time to each section and try to follow this as it will help candidates attempt maximum questions accurately.</li>
        <li>Extra time should be kept aside to review questions that candidates are not sure about.</li>
        <li>The reading comprehension section is an area where candidates can score well. However, candidates should not attempt questions that they are unsure about.</li>
        <li>Candidates often assume that data interpretation is tough. For this reason, it is best to attempt 2 out the 4 questions if candidates are not confident about getting the correct answers.</li>
        <li>Candidates should take mock tests at least once a week. It will help boost confidence, gain speed and accuracy while answering the exam.</li>
        </ul>
    
    
{% endblock %}