{% extends 'layout.html' %}
{% block body %}
<header class="masthead" style="background-image: url('{{ url_for('static', filename='img/about-bg.jpg') }}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>MAT</h1>
            <span class="subheading">Here we are support for all student:</span>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
    <h1>MAT</h1>
    <p>Management Aptitude Test (MAT) is a standard aptitude test conducted in India since 1998 by the All India Management Association (AIMA). MAT is used for admission to Master of Business Administration (MBA) and allied programmes by over 600 business schools across India. It was approved by the Ministry of Human Resource Development in 2003.[1] </p>
    <h1>Exam Format:</h1>
    <p>Candidates can choose to take either a paper-based or a computer-based test. It is conducted in either English or Hindi. Eligibility is for graduates in any discipline, though final year students of graduate courses can also apply.[1] The test is offered four times in a year in February, May, September and December.[2] The cost of admission was ₹1,400 (US$19) in 2017 and the test scores are valid for one year.[2]

            The tests includes 200 questions, 40 in each subject: language comprehension, mathematical skills, data analysis and sufficiency, intelligence and critical reasoning, and Indian and global environment. Time allotted is 150 minutes.[2] </p>
    
    
    
    
{% endblock %}