{% extends 'layout.html' %}
{% block body %}
<header class="masthead" style="background-image: url('{{ url_for('static', filename='img/about-bg.jpg') }}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>NMAT</h1>
            <span class="subheading">Here we are support for all student:</span>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
    <h1>NMAT</h1>
    <p>The NMAT by GMAC™ exam is computer-delivered and gives each candidate a randomly generated test from a pool of questions, delivered one-at-a-time. NMAT by GMAC™ can be taken thrice and the best of the scores shall be considered provided the candidate has applied to the institute with each of the scores.

            Earlier NMAT was conducted by Pearsonvue and considered by NMIMS for offering admission in it’s Mumbai, Bangalore and Hyderabad campus. With effect 2015, NMAT has been conducted by GMAC™ and it is accepted by the following leading institutions :</p>
    <p>The NMIMS Aptitude Test (NMAT) by GMAC™ is a computer administered test owned by the Graduate Management Global Connection (India) Private Limited (GMGC), a subsidiary of Graduate Management Admission Council (GMAC).</p>
    <p>A test taker can take the NMAT by GMAC™ up to a maximum of 3 times (first attempt plus 2 retake attempts) including no shows, if he/she wishes to.</p> 
    <h1>NMAT Exam Pattern: Salient Points:</h1> 
    <ul>
        <li>Online CBT: NMAT 2018 exam is online computer based test</li>
        <li>MCQ format: All the questions in NMAT 2018 exam pattern are of Multiple Choice type (MCQs).</li>
        <li>120 questions: NMAT 2018 exam pattern as revealed so far and in the past notification also consists of 120 questions divided in 3 sections and are to be attempted in 120 minutes (2 hours)</li>
        <li>Choice of order of sections: One of the unique features in NMAT 2018 exam pattern is that Test taker can choose order of sections in NMAT by GMAC. However, once order of the sections is selected, the NMAT test taker should follow this order.</li>
        <li>Individually timed sections: In the revised NMAT exam pattern 2018, each section in NMAT 2018 exam is individually timed and the candidates have to attempt the questions in the respective section within the sectional time limit.</li>
        <li>No negative marking: The NMAT 2018 exam pattern is without any penalty of negative marking. So, instead of skipping a question in the question paper,  you can use your calculated guess and mark the answer without the fear of a penalty for a wrong answer as there is no negative marking</li>
        <li>Moderate difficulty exam: The difficulty level is not so high as of IIMs-CAT and XLRI-XAT exams  in NMAT by GMAC exam pattern</li>
        <li>Uniform Marking scheme: Another important feature of NMAT exam pattern is uniform marking system. Each correct answer is awarded +1 mark and there is zero marking for unattempted question</li>
        <li>Facility to review answers: NMAT Test takers must review answers of each section within the allotted time before moving to another section of the exam, as once the candidate closes out of a section, he/she may not come back to the section</li>
        <li>3 Attempts allowed:  This is the biggest benefit of NMAT by GMAC exam pattern. You can take the NMAT by GMAC three times in a given admissions cycle. This gives you the opportunity to improve your score</li>
        <li>Choice of Self-scheduling NMAT by GMAC: NMAT by GMAC is one of the few national exams which offer you the liberty to choose your test appointment date, time and test center location </li>
        
    </ul>     
    
    
    
{% endblock %}