{% extends 'layout.html' %}
{% block body %}
<header class="masthead" style="background-image: url('{{ url_for('static', filename='img/about-bg.jpg') }}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>SNAP</h1>
            <span class="subheading">Here we are support for all student:</span>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
   
    <p>SNAP 2019 Exam (Symbiosis National Aptitude Test) is a university level entrance exam which will be conducted by the Symbiosis International University, through which candidates can get admission in management courses (MBA) offered by various associated institutions of Symbiosis University. Get the complete details about SNAP 2019 exam, including admits card, exam pattern, registration, exam date, and syllabus.</p>
    <h1>Exam Format:</h1>
    <ul>
        <li>
                Type of Question: Questions will be objective type. Each question has 4 responses.
        </li>
        <li>Duration: The test duration will be 120 minutes.</li>
        <li>Marking Scheme: One mark will be given for each correct response.</li>
        <li>Negative Marking: For each wrong answer 25% negative marks will be done.</li>
    </ul>
    
    
{% endblock %}