{% extends 'layout.html' %}
{%block body%}
<header class="masthead" style="background-image: url('{{ url_for('static', filename='img/article.jpg') }}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>syallabus:</h1>
            <span class="subheading">syallabus are present here:</span>
          </div>
        </div>
      </div>
    </div>
  </header>
 <div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
    <ul>
        <li><a href="/academicssyallabus">Academicssyallabus</a></li>
        <li><a href="/competitivessyallabus">Competitivessyallabus</a></li>
    </ul>


  
  
  
{% endblock %}