{% extends 'layout.html' %}
{% block body %}
<header class="masthead" style="background-image: url('{{ url_for('static', filename='img/about-bg.jpg') }}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>XAT</h1>
            <span class="subheading">Here we are support for all student:</span>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
    <h1>XAT</h1>
    <p>XLRI began by offering courses for management and trade unions in 1949 before setting up a two-year, full-time program in industrial welfare in 1953.[2] In 1955 it took on the name Xavier Labor Relations Institute, and is India's oldest business management school. </p>
    <h1>Exam Format:</h1>
    <p>Just 4 days before the XAT 2019 exam date, XLRI has shared number of changes in XAT 2019 exam pattern. The XAT 2019 Mock Test reflecting a changed pattern of XAT 2019 exam has been released by XLRI. Following are the key changes introduced in XAT 2019 Exam to be held on January 6, 2019 from 10AM to 1PM as a computer based test:</p>
    <ul>
        <li>XAT 2019 will have two parts</li>
        <li>Candidate will be allowed to go to Part 2 in XAT 2019 after completing the time duration of Part 1</li>
        <li>Total Questions will be 99 instead of 100</li>
        <li>Part 1 of XAT 2019 exam will have time duration of 165 minutes</li>
        <li>There are 3 sections in part 1 of XAT 2019 exam with a total of 74 questions. The sections are Verbal Ability & Logical Reasoning (26 questions); Decision Making (21 questions); Quantitative Aptitude & Data Interpretation (27 questions)</li>
        <li>Part 2 of XAT 2019 will have time duration of 15 minutes with 25 GK questions</li>
        <li>Negative marking for every wrong answer is 0.25 Mark</li>
        <li>Negative marking for every unattempted question beyond 8 unattempted questions is 0.10 mark</li>
        <li>No Negative Marking for General Knowledge section in Part 2 of XAT 2019 </li>
        <li>A new type of Numerical Answer Type Question (NAT Questions) has been introduced. Procedure for answering a numerical answer type (NAT) question is to enter a numerical answer by making use of virtual numeric keypad that appears below the question.</li>
        
    </ul>
    <p>XLRI has announced to conduct XAT 2019 exam in a changed test pattern on January 6, 2019.  Although XAT 2019 exam pattern remains online computer based test, it will not have descriptive Essay Writing question of 3 marks in XAT 2019. The aggregate maximum marks have been reduced to 99 from 100. Besides, XAT 2019 exam duration has also been reduced to 3 hours from earlier three & half hours. Xavier Aptitude Test (XAT) 2019 exam will be conducted by XLRI Jamshedpur on behalf of XAMI from 10AM to 1.00PM in a single session on January 6, 2019. XAT 2019 is the second computer based test in the 60+ years history of XAT. Till 2017 XAT Exam Pattern remained a Paper Based Test. </p>
    
{% endblock %}